@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* primary button styles */
.btn_primary {
    color: #a6c437;
    font-weight: 500;
    position: relative;
    background: #fff;
    padding: 15px 40px;
    z-index: 99;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}

.btn_primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: all .3s ease-in-out;
    border-radius: 30px;
}

.btn_primary:hover {
    color: #f05a21;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn_primary:hover:after {
    transform: scale(1.5);
    opacity: 0;
}

/* disable button */
.btn_disable::after {
    background: #afaeae !important;
}

.btn_disable {
    color: #fff;
    border: none;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn_disable:hover {
    color: #fff;
    background: #afaeae;
}

/* slider pagination styles */
.swiper-pagination {
    bottom: 40px !important;
}

.swiper-pagination-bullet {
    height: 18px !important;
    width: 18px !important;
    background-color: #ffbd0a !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}